* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.form h1 {
  text-align: center;
  padding: 1em 0;
}

.form-logo img {
  width: 380px;
  margin-bottom: 2em;
}

form {
  border: 1px solid #ddd;
  padding: 5em 4em;
  width: 470px;
}

form div {
  position: relative;
  margin-bottom: 2em;
}

form label.active {
  color: red;
}

form input {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-top: 4px;
  padding: 1.5em;
  width: 100%;
}

form input.active {
  border: 1px solid red;
}

form input.active::placeholder {
  color: red;
  opacity: 0.4;
}

form div p {
  margin-top: 4px;
  visibility: hidden;
  font-size: 10px;
  color: red;
}

form div p.active {
  visibility: visible;
}

input[type="submit"] {
  background-color: red;
  color: white;
  cursor: pointer;
  border: none;
}

form img {
  position: absolute;
  height: 30px;
  width: 30px;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  cursor: pointer;
}

form img.active {
  display: block;
}
